.weather-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    vertical-align: auto; 
}

.search_weather{
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    text-align: center;
}