<ion-header>

    <ion-navbar color="primary">
        <ion-title>Previsão do Tempo</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="weather-page">
        <ion-list>
            <ion-toolbar><strong>Local:</strong>
                <ion-searchbar [(ngModel)]="fullAddress" name=fullAddress (ionInput)="getItemsCidadePsg($event)"
                    placeholder="Digite o nome do país (inglês) - cidade" (click)="toggleGroup(1)">
                </ion-searchbar>
            </ion-toolbar>
            <ion-list *ngIf="isGroupShown(1)" padding>
                <ion-item id="cidade_clima" *ngFor="let cities of psgCityItems"
                    (click)="fullAddress = cities.fullAddress" (click)="toggleGroup(1)">
                    {{cities.fullAddress}}
                </ion-item>
            </ion-list>
        </ion-list>
    </div>
    <div *ngIf="isWeather()" padding>
        <ion-list>
            <ion-item>
                <ion-label><b>Temperatura:</b> {{clima.main.temp}} ºC</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Condição do tempo:</b> {{clima.weather[0].description}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Umidade:</b> {{clima.main.humidity}}%</ion-label>
            </ion-item>
            <ion-item>
                <ion-label><b>Velocidade do vento:</b> {{clima.wind.speed}} m/s</ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div class="search_weather" padding>
        <button ion-button inline-block size="default" (click)="search_weather()">Pesquisar</button>
    </div>

</ion-content>