<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Carrinho
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <b>{{ p.nameProduct }}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ p.amount * p.price | currency:'USD' }}
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">

            <ion-col size="4" class="ion-align-self-center">
              <!-- <button color="light" fill="clear" (click)="decreaseCartItem(p)">
                <ion-icon name="remove-circle" slot="icon-only" color="primary"></ion-icon>
              </button> -->
              <button ion-button icon-start clear small (click)="decreaseCartItem(p)">
                <ion-icon name="remove-circle"></ion-icon>
              </button>
            </ion-col>

            <ion-col size="2" class="ion-align-self-center">
              {{ p.amount }}
            </ion-col>

            <ion-col size="4" class="ion-align-self-center">
              <!-- <button color="light" fill="clear" (click)="increaseCartItem(p)">
                <ion-icon name="add-circle" slot="icon-only" color="primary"></ion-icon>
              </button> -->
              <button ion-button icon-start clear small (click)="increaseCartItem(p)">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-col>

            <ion-col size="4" offset="5">
              <!-- <button color="light" fill="clear" (click)="removeCartItem(p)">
                <ion-icon name="close-circle" slot="icon-only" color="primary"></ion-icon>
              </button> -->
              <button ion-button icon-start clear small (click)="removeCartItem(p)">
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <b>Total:</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              <h2><b>{{ getTotal() | currency:'USD' }}</b></h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <div class="button-buy" padding>
    <button ion-button inline-block color="primary" (click)="checkout()">Efetuar Compra</button>
  </div>
</ion-content>