page-cart{
    
}


.ion-padding{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: inherit;
    text-overflow: ellipsis;
}

.button-buy{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}