<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cadastrar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <div class="signupForm">
      <ion-list>

        <ion-item>
          <ion-label fixed>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>

        <!--
        Want to add a Username? Here you go:
  
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>
        -->

        <ion-item>
          <ion-label fixed>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div class="signup" padding>
          <button ion-button inline-block color="primary">Cadastrar</button>
        </div>

      </ion-list>
    </div>

  </form>
</ion-content>