page-signup {

}

.signupForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.signup{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}