<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ofertas de pacotes</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <button ion-fab (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-card class="card-center" *ngFor="let p of packages">
      <ion-icon name="plane" color="secondary"></ion-icon>
      <h2><b>{{p.flight.nameProduct}} + {{p.hotel.nameProduct}}</b></h2>
      <p>{{ p.origin }}</p>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ p.flight.price + p.hotel.price | currency:'USD' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <button ion-button icon-start clear small (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
              <div>Adicionar</div>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <p><b>Data de voo de ida</b></p>
            <p>{{ p.flight.checkin }}</p>
            <p><b>Data de voo de retorno</b></p>
            <p>{{ p.flight.checkout }}</p>
          </ion-col>
          <ion-col size="9">
            <p><b>Aeroporto de origem</b></p>
            <p>{{ p.flight.origin }}</p>
            <p><b>Aeroport de destino</b></p>
            <p>{{ p.flight.nameProduct }}</p>
          </ion-col>
          <ion-col size="9">
            <p><b>Quantidade de pessoas</b></p>
            <p>{{ p.flight.amount}}</p>
            <p><b>Valor da passagem</b></p>
            <p>{{ p.flight.price | currency:'USD'}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            <p><b>Data de checkin no hotel</b></p>
            <p>{{ p.hotel.checkin }}</p>
            <p><b>Data de checkout no hotel</b></p>
            <p>{{ p.hotel.checkout }}</p>
          </ion-col>
          <ion-col size="9">
            <p><b> Hotel </b></p>
            <p> {{p.hotel.nameProduct}} </p>

          </ion-col>
          <ion-col>
            <p><b>Quantidade de pessoas</b></p>
            <p>{{ p.hotel.amount}}</p>
            <p><b>Valor da hospedagem</b></p>
            <p>{{ p.hotel.price | currency:'USD'}}</p>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>