page-calculator{
    
}

.calculator-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    vertical-align: auto; 
}

.search_calculator{
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    text-align: center;
}

.erase_calculator{
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    text-align: center;
}