<ion-header>

    <ion-navbar color="primary">
        <ion-title>Calculadora</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="calculator-page">
        <div padding>
            <ion-label><b>Insira o valor A:</b></ion-label>
            <ion-input placeholder="Valor" [(ngModel)]="valorA"></ion-input>

            <ion-label><b>Insira o valor B:</b></ion-label>
            <ion-input placeholder="Valor" [(ngModel)]="valorB"></ion-input>
        </div>
        <div padding>
            <ion-list radio-group [(ngModel)]="operacao_escolhida" (ionChange)='radioGroupChange($event)'>
                <ion-label><b>Escolha a operação:</b></ion-label>
                <ion-item>
                    <ion-label>Adição</ion-label>
                    <ion-radio value="adicao"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Subtração</ion-label>
                    <ion-radio value="subtracao"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Multiplicação</ion-label>
                    <ion-radio value="multiplicacao">
                    </ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Divisão</ion-label>
                    <ion-radio value="divisao">
                    </ion-radio>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="isCalculator()" padding>
            <ion-label><b>Resultado:</b>
                <h2>{{calculo}}</h2>
            </ion-label>
        </div>
    </div>

    <div class="search_calculator" padding>
        <button ion-button inline-block size="default" (click)="search_calculator()">Calcular</button>
    </div>

</ion-content>