<ion-content class="content">
  <div class="splash-bg"></div>
  <div class="boasvindas">
    <ion-label><strong>Bem-vindo(a)</strong> </ion-label>
    <ion-label><strong>a KANG TRAVELER</strong> </ion-label>
  </div>
  <div padding>
    <ion-grid>
      <ion-row>
        <ion-col><button ion-button block size="large" color="light" (click)="login()"
            class="login"><strong>{{ 'LOGIN' | translate }}</strong></button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><button ion-button block size="large" color="light" (click)="signup()"
            class="cadastro"><strong>{{ 'SIGNUP' | translate }}</strong></button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>