page-welcome {
  .splash-bg {
    background: url('../assets/img/Logo_2.jpg') no-repeat transparent;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    position: relative;
    background-color: #f66740;
  }
  //.splash-info {
  //  position: relative;
  //  margin-top: 5%;
  //  text-align: center;
  //}

  .boasvindas{
    position: relative;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 90%;
}

  .entrada-user {
    margin-top: -50%;
    font-size: 18px;
    font-weight: bold;
    max-width: 90%;
    margin: auto;
  }

  button.login {
    width:45%; 
    margin-left: auto;
    margin-right: auto;
    //margin-top: 10%;
    //background-color: #488aff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #f66740;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  button.cadastro {
    width:45%; 
    margin-left: auto;
    margin-right: auto;
    //margin-top: 13%;
    //background-color: #2a7597;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color:  #f66740;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
  
  .content{
    background-color: #f66740;
  }
  .scroll-content {
    overflow: hidden !important;
}
}


