.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
}

.voo{
    text-align: center;
}

.hotel{
    text-align: center;
}

.pacotes{
    text-align: center;
}

