<ion-header>

  <ion-navbar color="primary">
    <ion-title>Resultado da pesquisa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="respostaVazia == 0" padding>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <button ion-fab (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </button>
  </ion-fab>

  <ion-list>
    <ion-card class="card-center" *ngFor="let p of hoteis" inline-block>
      <ion-card-header>
        <ion-icon name="home" color="secondary"></ion-icon>
        <h2><b>{{p.nameProduct}}</b></h2>
        <p>{{ p.origin }}</p>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ p.price | currency:'USD' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <button ion-button icon-start clear small (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
              <div>Adicionar</div>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <ion-note>
              <p><b>Data de checkIn</b></p>
              <p>{{ p.checkin }}</p>
              <p><b>Data de checkOut</b></p>
              <p>{{ p.checkout }}</p>
            </ion-note>
          </ion-col>
          <!-- <ion-col size="9">
            <p><b>Cidade</b></p>
            <p>{{ p.origin }}</p> -->
          <!-- <p>Destino</p>
               <p>{{ p.nameProduct }}</p> -->
          <!-- </ion-col> -->
          <ion-col size="9">
            <p><b>Quantidade de pessoas</b></p>
            <p>{{ p.amount}}</p>
            <p><b>Valor total</b></p>
            <p>{{ p.amount * p.price | currency:'USD' }}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</div>
<div  *ngIf="respostaVazia == 1" padding>
  <ion-title>
    NAO HÁ RESULTADOS
  </ion-title>
</div>


</ion-content>