<ion-header>

    <ion-navbar color="primary">
        <ion-title>Conversão de Moedas</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="exchange-page">
        <ion-list>
            <div padding>
                <ion-label>Insira o valor:</ion-label>
                <ion-input [(ngModel)]="valor_cotacao" placeholder="Valor"></ion-input>
            </div>

            <div>
                <ion-toolbar><strong>Moeda local:</strong>
                    <ion-searchbar [(ngModel)]="moeda_local" (ionInput)="getCoinsOrigemPsg($event)"
                        placeholder="Selecione a moeda" (click)="toggleGroup(1)">
                    </ion-searchbar>
                </ion-toolbar>
                <ion-list>
                    <div *ngIf="isGroupShown(1)" padding>
                        <ion-item id="origem_moeda" *ngFor="let moeda of moedas" (click)="moeda_local = moeda"
                            (click)="toggleGroup(1)">
                            {{moeda}}
                            <!-- {{moedas}} -->
                        </ion-item>
                    </div>
                </ion-list>
            </div>

            <div>
                <ion-toolbar><strong>Moeda pretendida:</strong>
                    <ion-searchbar [(ngModel)]="moeda_pretendida" (ionInput)="getCoinsDestinoPsg($event)"
                        placeholder="Selecione a moeda" (click)="toggleGroup(2)">
                    </ion-searchbar>
                </ion-toolbar>
                <ion-list>
                    <div *ngIf="isGroupShown(2)" padding>
                        <ion-item id="destino_moeda" *ngFor="let moeda of moedasDestino"
                            (click)="moeda_pretendida = moeda" (click)="toggleGroup(2)">
                            {{moeda}}
                            <!-- {{moedas}} -->
                        </ion-item>
                    </div>
                </ion-list>
            </div>

            <div *ngIf="isCotacao()" padding> 
                <ion-label>Valor convertido:</ion-label>
                <h2>{{cotacao.valor}}</h2>
            </div>

        </ion-list>
    </div>
    <div class="search_exchange">
        <button ion-button inline-block size="default" (click)="search_cotacao()">Converter</button>
    </div>

</ion-content>