<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="ion-content-busca">
  <div padding>
    <ion-segment [(ngModel)]="item">
      <ion-segment-button value="passagem">
        Passagem
      </ion-segment-button>
      <ion-segment-button value="hotel">
        Hotel
      </ion-segment-button>
      <ion-segment-button value="pacote">
        Pacote
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="item" class="item-page">

    <ion-list *ngSwitchCase="'passagem'">
      <!-- <div padding>
        <ion-segment [(ngModel)]="item-passagem">
          <ion-segment-button value="ida-volta">
            Ida e Volta
          </ion-segment-button>
          <ion-segment-button value="so-ida">
            Somente ida
          </ion-segment-button>
        </ion-segment>
      </div> -->

      <!-- <div [ngSwitch]="item-passagem" class="item-passagens" inline-block> -->

      <!-- <ion-label class="origem"><strong> Origem: </strong></ion-label> -->
      <ion-toolbar><strong>Origem:</strong>
        <ion-searchbar [(ngModel)]="origin" name=origin (ionInput)="getItemsOrigemPsg($event)"
          placeholder="Digite o nome da cidade" (click)="toggleGroup(1)">
        </ion-searchbar>
      </ion-toolbar>
      <ion-list>
        <div *ngIf="isGroupShown(1)" padding>
          <ion-item id="origem_passagem" *ngFor="let airport of psgOriginItems" (click)="origin = airport.fullAddress"
            (click)="toggleGroup(1)">
            {{airport.fullAddress}}
          </ion-item>
        </div>
      </ion-list>

      <!-- <ion-label class="destino"><strong> Destino: </strong></ion-label> -->
      <ion-toolbar><strong>Destino:</strong>
        <ion-searchbar [(ngModel)]="destination" (ionInput)="getItemsDestinoPsg($event)"
          placeholder="Digite o nome da cidade" (click)="toggleGroup(2)">
        </ion-searchbar>
      </ion-toolbar>
      <ion-list>
        <div *ngIf="isGroupShown(2)" padding>
          <ion-item id="destino_passagem" *ngFor="let airport of PsgdestinyItems"
            (click)="destination = airport.fullAddress" (click)="toggleGroup(2)">
            {{airport.fullAddress}}
          </ion-item>
        </div>
      </ion-list>

      <!-- CODIGO ADICIONADO  INICIO -->

      <!-- <div id="ida-volta" style="visibility: visible;"> -->

      <ion-item class="datep">
        <ion-label>Ida:</ion-label>
        <ion-input [(ngModel)]="departure" type="date" required="required" maxlength="10" name="departure"
          pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2020-06-14" max="2021-12-31"></ion-input>
      </ion-item>

      <!-- <ion-item class="horario-ida">
        <ion-label>Horário:</ion-label>
        <ion-input type="time"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label>Ida e Volta</ion-label>
        <ion-checkbox [(ngModel)]="plane_checkbox">
        </ion-checkbox>
      </ion-item>
      <ion-item class="dater" *ngIf="plane_checkbox">
        <ion-label>Volta:</ion-label>
        <ion-input [(ngModel)]="returnDate" type="date" required="required" maxlength="10" name="returnDate" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$"
          min="2020-06-14" max="2021-12-31"></ion-input>
      </ion-item>

      <!-- <ion-item class="horario-volta" *ngIf="plane_checkbox">
        <ion-label>Horário:</ion-label>
        <ion-input type="time"></ion-input>
      </ion-item> -->

      <!-- <ion-item class="pessoas">
        <ion-label>Pessoas:</ion-label>
        <ion-input [(ngModel)]="adults" name="adults" type="number" max="10" min="1"></ion-input>
      </ion-item> -->

      <div padding class="pessoasRangePassagem">
        <ion-label left><strong>Pessoas:</strong></ion-label>
        <ion-item>
          <ion-range class="range" min="1" max="10" step="1" snaps="true" dualKnobs="false" pin="true"
            [(ngModel)]="PSGadults" name="PSGadults" color="primary">
            <ion-label class="pessoasRangePassagemleft" range-left>-</ion-label>
            <ion-label class="pessoasRangePassagemright" range-right>+</ion-label>
          </ion-range>
        </ion-item>
      </div>

      <!-- </div> -->

      <!-- <div id="so-ida" style="visibility: hidden;"> -->

      <!-- <ion-item class="dater">
            <ion-label>Volta:</ion-label>
            <ion-input type="date" required="required" maxlength="10" name="date"
              pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2020-06-14" max="2021-12-31"></ion-input>
          </ion-item>

          <ion-item class="horario-volta">
            <ion-label>Horário:</ion-label>
            <ion-input type="time"></ion-input>
          </ion-item>

          <ion-item class="pessoas">
            <ion-label>Pessoas:</ion-label>
            <ion-input type="number" max="10" min="1"></ion-input>
          </ion-item>
        </div> -->
      <!-- CODIGO ADICIONADO  FIM -->
      <!-- </div> -->
      <div padding class="preco">
        <ion-label left><strong>Preço:</strong></ion-label>
        <ion-item>
          <ion-range class="range" min="500" max="5000" step="250" snaps="false" dualKnobs="false" pin="true"
            [(ngModel)]="PSGValue" name="PSGValue" color="primary">
            <ion-label class="precoleft" range-left>Min</ion-label>
            <ion-label class="precoright" range-right>Max</ion-label>
          </ion-range>
        </ion-item>
      </div>
      <div class="search" padding>
        <button ion-button inline-block size="default" (click)="searchFlights()">Buscar</button>
      </div>
      <!-- <ion-list *ngSwitchCase="'ida-volta'">
      </ion-list>
      <ion-list *ngSwitchCase="'so-ida'">
      </ion-list> -->
    </ion-list>

    <ion-list *ngSwitchCase="'hotel'">
      <!-- <ion-label class="destino"><strong> Destino: </strong></ion-label> -->
      <ion-toolbar><strong> Destino: </strong>
        <ion-searchbar [(ngModel)]="hotelOrigin" name=hotelOrigin (ionInput)="getItemsDestinoHtl($event)"
          placeholder="Digite o nome da cidade" (click)="toggleGroup(3)">
        </ion-searchbar>
      </ion-toolbar>
      <ion-list>
        <div *ngIf="isGroupShown(3)" padding>
          <ion-item *ngFor="let airport of htlDestinyItems" (click)="hotelOrigin = airport.fullAddress"
            (click)="toggleGroup(3)">
            {{airport.fullAddress}}
          </ion-item>
        </div>
      </ion-list>
      <ion-item class="datee">
        <ion-label>Entrada:</ion-label>
        <ion-input [(ngModel)]="checkInDate" type="date" required="required" maxlength="10" name="date"
          pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2020-06-28" max="2021-12-31"></ion-input>
      </ion-item>
      <!-- <ion-item class="horario-entrada">
        <ion-label>Horário:</ion-label>
        <ion-input type="time"></ion-input>
      </ion-item> -->
      <ion-item class="dates">
        <ion-label>Saida:</ion-label>
        <ion-input [(ngModel)]="checkOutDate" type="date" required="required" maxlength="10" name="date"
          pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2020-06-29" max="2021-12-31"></ion-input>
      </ion-item>
      <!-- <ion-item class="horario-saida">
        <ion-label>Horário:</ion-label>
        <ion-input type="time"></ion-input>
      </ion-item> -->

      <!-- <ion-item class="pessoas">
        <ion-label>Pessoas:</ion-label>
        <ion-input [(ngModel)]="adults" type="number" max="10" min = "1"></ion-input>
      </ion-item> -->
      <div padding class="pessoasRangeHotel">
        <ion-label left><strong>Pessoas:</strong></ion-label>
        <ion-item>
          <ion-range class="range" min="1" max="10" step="1" snaps="true" dualKnobs="false" pin="true"
            [(ngModel)]="hotelAdults" name="hotelAdults" color="primary">
            <ion-label class="pessoasRangeHotelleft" range-left>-</ion-label>
            <ion-label class="pessoasRangeHotelright" range-right>+</ion-label>
          </ion-range>
        </ion-item>
      </div>

      <div padding class="preco">
        <ion-label><strong>Valor da estadia:</strong></ion-label>
        <ion-item>
          <ion-range class="range" min="500" max="10000" step="250" snaps="false" dualKnobs="false" pin="true"
            [(ngModel)]="hotelPrice" name="hotelPrice" color="primary">
            <ion-label class="precoleft" range-left>Min</ion-label>
            <ion-label class="precoright" range-right>Max</ion-label>
          </ion-range>
        </ion-item>
      </div>
      <div class="search" padding>
        <button ion-button inline-block size="default" (click)="searchHoteis()">Buscar</button>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'pacote'">
      <!-- <ion-label class="origem"><strong> Origem: </strong></ion-label> -->
      <ion-toolbar><strong> Origem: </strong>
        <ion-searchbar [(ngModel)]="pkgOrigin" name="pkgOrigin" (ionInput)="getItemsOrigemPct($event)"
          placeholder="Digite o nome da cidade" (click)="toggleGroup(4)">
        </ion-searchbar>
      </ion-toolbar>
      <ion-list>
        <div *ngIf="isGroupShown(4)" padding>
          <ion-item *ngFor="let airport of pctOriginItems" (click)="pkgOrigin = airport.fullAddress" (click)="toggleGroup(4)">
            {{airport.fullAddress}}
          </ion-item>
        </div>
      </ion-list>

      <!-- <ion-label class="destino"><strong> Destino: </strong></ion-label> -->
      <ion-toolbar><strong> Destino: </strong>
        <ion-searchbar [(ngModel)]="pkgDestination" name="pkgDestination" (ionInput)="getItemsDestinoPct($event)"
          placeholder="Digite o nome da cidade" (click)="toggleGroup(5)">
        </ion-searchbar>
      </ion-toolbar>
      <ion-list>
        <div *ngIf="isGroupShown(5)" padding>
          <ion-item *ngFor="let airport of pctDestinyItems" (click)="pkgDestination = airport.fullAddress"
            (click)="toggleGroup(5)">
            {{airport.fullAddress}}
          </ion-item>
        </div>
      </ion-list>
      <ion-item class="datep">
        <ion-label>Ida:</ion-label>
        <ion-input [(ngModel)]="checkin" type="date" required="required" maxlength="10" name="checkin" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$"
          min="2020-06-11" max="2021-12-31"></ion-input>
      </ion-item>
      <!-- <ion-item class="horario-ida">
        <ion-label>Horário:</ion-label>
        <ion-input type="time"></ion-input>
      </ion-item> -->
      <ion-item class="dater">
        <ion-label>Volta:</ion-label>
        <ion-input [(ngModel)]="checkout" type="date" required="required" maxlength="10" name="checkout" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$"
          min="2020-06-11" max="2021-12-31"></ion-input>
      </ion-item>
      <!-- <ion-item class="horario-volta">
        <ion-label>Horário:</ion-label>
        <ion-input type="time"></ion-input>
      </ion-item> -->
      <!-- <ion-item class="pessoas">
        <ion-label>Pessoas:</ion-label>
        <ion-input type="number" maxlength="2" min="1"></ion-input>
      </ion-item> -->
      <div padding class="preco">
        <ion-label><strong>Preço:</strong></ion-label>
        <ion-item>
          <ion-range class="range" min="500" max="10000" step="500" snaps="false" dualKnobs="false" pin="true"
            [(ngModel)]="pkgValue" name="pkgValue" color="primary">
            <ion-label class="precoleft" range-left>Min</ion-label>
            <ion-label class="precoright" range-right>Max</ion-label>
          </ion-range>
        </ion-item>
      </div>
      <div class="search" padding>
        <button ion-button inline-block size="default" (click)="searchPackages()">Buscar</button>
      </div>
    </ion-list>

  </div>

</ion-content>