// @media(min-width: 700px) {
//     .ion-content-busca{
//         width: 70%;
//         //margin: auto;
//         //position: relative;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center
//     }
    
//       .scroll-content {
//         overflow-y:auto;
//     }
// }

.item-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

// .origem{
//     font-size: 110%;
//     margin-left: 5%;
//     display: inline-block;
//     //margin-top: 0%;
// }

.preco{
    font-size: 110%;
}

.range{
    //margin-top: -10%;
    //margin-left: 30%;
    width: 40%;
}

.precoleft{
    font-size: 70%;
}

.precoright{
    font-size: 70%;
}

.search{
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    text-align: center;
}