<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Ofertas" tabIcon="plane"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="search"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="cog"></ion-tab> -->
  <ion-tab [root]="tab4Root" tabTitle="Serviços" tabIcon="settings"></ion-tab>
</ion-tabs>