<ion-header>

    <ion-navbar color="primary">
        <ion-title>Serviços</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form>
        <ion-list>
            <!-- <button ion-item (click)="editRegister()">
                Editar Cadastro
            </button> -->
            <button ion-item (click)="showCart()">
                Meu Carrinho
            </button>
            <button ion-item (click)="showShopping()">
                Minhas Compras
            </button>
            <button ion-item (click)="verifyWeather()">
                Previsão do Tempo
            </button>
            <button ion-item (click)="showExchange()">
                Conversão de Moedas
            </button>
            <button ion-item (click)="showCalculator()">
                Calculadora
            </button>
            <button ion-item (click)="doLogout()">
                Sair
            </button>
        </ion-list>
    </form>
</ion-content>