<ion-header>

    <ion-navbar color="primary">
        <ion-title>Cadastro</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form>
        <ion-list>
            <ion-item>Nome:</ion-item>
            <ion-item>E-mail:</ion-item>
            <ion-item>Senha:</ion-item>
        </ion-list>
    </form>
</ion-content>