<ion-header>

    <ion-navbar color="primary">
        <ion-title>Compras</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="ion-padding">
      <ion-list>
            <ion-item *ngFor="let p of shoppingList" class="ion-text-wrap">
              <ion-grid>
                <ion-row>
                  <ion-col size="9">
                    <b>Produto: {{ p.nameProduct }}</b>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col size="9">
                    Data de compra: {{ p.date_shopping }}
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="9">
                    <p>Check-in {{ p.checkin }}</p>
                    <p>Check-out {{ p.checkout }}</p>
                  </ion-col>
                 <ion-col size="9">
                   <p> {{ p.origin }}</p>
                   <p> {{ p.nameProduct }}</p>
                 </ion-col>
                 <ion-col size="9">
                   <p>Quantidade: {{ p.amount}}</p>
                   <p>Valor total: {{ p.amount * p.price | currency:'USD' }}</p>
                 </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
    </div>
</ion-content>