page-login {
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.login{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}