<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doLogin()">
    <div class="loginForm">
      <ion-list>

        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" [(ngModel)]="user_email" name="user_email">
          </ion-input>
        </ion-item>

    
        <!--
    Want to use a Username instead of an Email? Here you go:

    <ion-item>
      <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
    </ion-item>
    -->

        <ion-item>
          <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="user_password" name="user_password"></ion-input>
        </ion-item>

        <div class="login" padding>
          <button ion-button inline-block color="primary">{{ 'LOGIN_BUTTON' | translate }}</button>
        </div>

      </ion-list>

    </div>


    <!-- </ion-col>
      </ion-row>
    </ion-grid> -->
  </form>
</ion-content>